# ============================================================================
[connectivity]
nk=rectangle_kernel_v5:1:siu_core_v5

# HBM Bank Mapping
sp=siu_core_v5.gmem_bcsr_data_v1_0:HBM[0]
sp=siu_core_v5.gmem_bcsr_data_v2_0:HBM[1]
sp=siu_core_v5.gmem_bcsr_data_v1_1:HBM[2]
sp=siu_core_v5.gmem_bcsr_data_v2_1:HBM[3]
sp=siu_core_v5.gmem_bcsr_data_v1_2:HBM[4]
sp=siu_core_v5.gmem_bcsr_data_v2_2:HBM[5]
sp=siu_core_v5.gmem_bcsr_data_v1_3:HBM[6]
sp=siu_core_v5.gmem_bcsr_data_v2_3:HBM[7]
sp=siu_core_v5.gmem_row_ptr:HBM[8]
sp=siu_core_v5.task_queue:HBM[9]
sp=siu_core_v5.out_result:HBM[10]

[profile]
data=all:all:all
stall=all:all
